/*************************************************
- Name: Josh Lavallee                            *
- Date Created: 06/14/2020                       *
- Date Modified: 06/23/2020                      *
- Description: Main styles for new portfolio     *
*************************************************/

/* fonts

  font-family: birch-std,serif;
  font-weight: 400;
  font-style: normal;
  
*/

*, *::before, *::after{
  box-sizing: border-box;
}

/* Custom Properties */

:root{
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #D3E2E5;
  --clr-dark: #202020;
  --clr-accent: #34ADB3;
  --clr-main: #522D7B
  ;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rbgb(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}


@media (min-width: 800px){
  
  :root{
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}


/* General Styles */

html{
  scroll-behavior: smooth;
}

body{
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0px;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section{
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}
strong{
  font-family: birch-std, serif;
  font-size: 1.25em;
  font-weight: var(--fw-bold);
}

:focus{
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */

.btn{
  display: inline-block;
  padding: .5em 2.5em;
  background: var(--clr-main);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover{
  transform: scale(1.1);
}


/* Typography */

h1,h2,h3{
  line-height: 1;
  margin: 0px;
}

h1{
  font-size: var(--fs-h1);
}

h2{
  font-size: var(--fs-h2);
}


h3{
  font-size: var(--fs-h3);
}

.section-title{
  margin-bottom: .23em;
}

.intro-title{
  font-weight: var(--fw-reg);
}

.intro-title strong{
  display: block;
}

.section-subtitle{
  margin: 0px;
  font-size: var(--fs-h3);
}

.intro-subtitle, .about-subtitle{
  background-color: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  padding: .5em 1em;
}

/* Navigation */

header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.logo{
  max-width: 200px;
  padding: 20px;
}

.navigation{
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav-list{
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.nav-link{
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
}

.nav-link:hover{
  color: var(--clr-accent);
}

.nav-toggle{
  background: transparent;
  border: 0px;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 2em;
  z-index: 1000;
}

.nav-open .navigation{
  transform: translateX(0);
}

.nav-open .nav-toggle{
  position: fixed;
}

.nav-open .hamburger{
  transform: rotate(.625turn);
}

.nav-open .hamburger::before{
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after{
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-main);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
 
}

.hamburger::before{
  top: 6px;
}

.hamburger::after{
  bottom: 6px;
}

/* Intro Section */

.intro{
  position: relative;
}


@media (min-width: 600px){
  .intro{
    display: grid;
    grid-column-gap: 1em;
    width: min-content;
    margin: 0px auto;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .profile-picture{
    grid-area: img;
    min-width: 275px;
    min-height: 275px;
    position: relative;
    z-index: 2;
  }

  .intro-subtitle{
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* Skills */

.my-skills{
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.skills-title{
  color: var(--clr-accent);
  position: relative;
}

.skills-title::after{
  content: '';
  display: block;
  width: 15%;
  height: 1px;
  margin: 0.5em auto 1em;
  background: currentColor;
  opacity: .50;
}

.skill{
  margin-bottom: 4em;
}

@media (min-width: 800px){
  .skills{
    display: flex;
    max-width: 1000px;
    margin: 0px auto;
  }

  .skill + .skill{
    margin-left: 2em;
  }
}

/* About Me Section */

.about-me{
  max-width: 1000px;
  margin: 0 auto;
}

.about-me-img{
  box-shadow: var(--bs);
}

@media (min-width: 800px){
  .about-me{
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: 
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .about-title{
    grid-area: title;
  }

  .about-subtitle{
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 4em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me-img{
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* My Work Section */

.my-work{
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.work-subtitle{
  color: var(--clr-accent);
  font-weight: bold;
  margin-bottom: 1em;
}

.portfolio{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio-item{
  background: var(--clr-accent);
  overflow: hidden;
  margin: 5px;
}

.portfolio-item img{
  transition: 
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.portfolio-item:focus{
  position: relative;
  z-index: 2;
}

.portfolio-item img:hover,
.portfolio-item:focus .portfolio-item img{
  transform: scale(1.2);
  opacity: .75;
}

/* Footer */

.footer{
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
}

.footer a{
  color: inherit;
  text-decoration: none;
  font-size: var(--fs-h3);
}

.footer-link{
  font-weight: var(--fw-reg);
}

.social-list{
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list-item{
  margin: 0 .5em;
}

.social-list-link{
  padding: .5em;
}

.social-list-item:hover,
.footer-link:hover{
  opacity: .75;
  transform: scale(1.2);
}

.footer-link:hover{
  text-decoration: underline;
}