/*************************************************
- Name: Josh Lavallee                            *
- Date Created: 06/14/2020                       *
- Date Modified: 06/14/2020                      *
- Description: Main styles for new portfolio     *
*************************************************/

*
{
    box-sizing: border-box;
}

body
{
    margin: 0px;
    padding: 0px;
}